<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>UNICORN</title>
    <link type="text/css" rel="stylesheet" href="../static/css/bootstrap.css">
    <link type="text/css" rel="stylesheet" href="../static/css/bootstrap-datetimepicker.css">
    <link type="text/css" rel="stylesheet" href="../static/css/index.css">
    <script type="text/javascript" src="http://libs.baidu.com/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="http://libs.baidu.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../static/js/lib/bootstrap-datetimepicker.js"></script>
    <script type="text/javascript" src="../static/js/lib/bootstrap-datetimepicker.zh-CN.js"></script>
    <!--script type="text/javascript" src="../static/js/lib/react.js"></script>
    <script type="text/javascript" src="../static/js/lib/less.min.js"></script>
    <script type="text/javascript" src="../static/js/lib/jquery.min.js"></script>
    <script type="text/javascript" src="../static/js/lib/index.js"></script-->
</head>
<body>
    <div id="data-container"></div>
    <script type="text/javascript" src="../static/js/build/bundle.js"></script>
    <!--script type="text/javascript" src="../static/js/lib/index.js"></script-->
</body>
</html>