<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>登陆UNICORN</title>
    <link type="text/css" rel="stylesheet" href="../static/css/bootstrap.css">
    <link type="text/css" rel="stylesheet" href="../static/css/index.css">
    <script type="text/javascript" src="http://libs.baidu.com/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="http://libs.baidu.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <!--script type="text/javascript" src="../static/js/lib/react.js"></script>
    <script type="text/javascript" src="../static/js/lib/less.min.js"></script>
    <script type="text/javascript" src="../static/js/lib/jquery.min.js"></script>
    <script type="text/javascript" src="../static/js/lib/index.js"></script-->
</head>
<body>
    <div id="container">
        <form class="form-sign" role="form" method="POST" action="/login">
            <h2 class="form-sign-heading">欢迎登陆</h2>
            <input type="text" class="form-control" name="username" placeholder="Username" required atuofocus />
            <input type="password" class="form-control" name="password" placeholder="Password" required />
            <button class="btn btn-md btn-primary btn-block" type="submit">登陆</button>
        </form>
    </div>
</body>
</html>